{
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended", "airbnb"],
  "overrides": [],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-parameter-properties": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "import/no-unresolved": "off",
    "arrow-body-style": "off",
    "linebreak-style": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "no-debugger": "off",
    "class-methods-use-this": "off",
    "comma-dangle": "off",
    "import/no-cycle": "off",
    "import/no-extraneous-dependencies": "off",
    "import/order": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "max-len": "off",
    "no-console": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-return-assign": "off",
    "object-curly-newline": "off",
    "import/extensions": "off",
    "prettier/prettier": "off",
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "consistent-return": "off",
    "no-useless-constructor": "off",
    "camelcase": "off",
    "operator-linebreak": "off",
    "indent": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error", { "ignoreTypeValueShadow": true }]
  },
  "ignorePatterns": ["src/**/*.test.ts"]
}
