{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true,
      "decorators": true
    },
    "target": "es2017",
    "externalHelpers": false,
    "loose": false,
    "baseUrl": "src",
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "paths": {
      "*": ["customTypes/*"],
      "@/*": ["*"],
      "@lib/*": ["lib/*"],
      "@config/*": ["config"],
      "@utils/*": ["utils/*"],
      "@types/*": ["types/*"],
      "@routes/*": ["routes/*"],
      "@constants/*": ["constants/*"],
      "@interfaces/*": ["interfaces/*"],
      "@exceptions/*": ["exceptions/*"],
      "@middlewares/*": ["middlewares/*"]
    }
  },
  "sourceMaps": true,
  "module": {
    "type": "commonjs"
  },
  "minify": true
}
